* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
}

html,
body {
  width: 100%;
  height: 100vh;
}
#canvas {
  width: 100%;
  height: 100%;
  image-rendering: optimizeQuality;
}

#canvas {
  background: #7aab5e;
}
